export(arrayspecs)
export(bilat.symmetry)
export(buildtemplate)
export(compare.modular.partitions)
export(curves2d)
export(digit.curves)
export(digit.fixed)
export(digitize2d)
export(digitsurface)
export(editTemplate)
export(estimate.missing)
export(fixed.angle)
export(gpagen)
export(morphol.integr)
export(mshape)
export(physignal)
export(plotAllSpecimens)
export(plotAllometry)
export(plotGMPhyloMorphoSpace)
export(plotRefToTarget)
export(plotTangentSpace)
export(plotspec)
export(procD.lm)
export(read.morphologika)
export(read.ply)
export(read.vrml)
export(readland.nts)
export(readland.tps)
export(readmulti.nts)
export(trajectory.analysis)
export(two.d.array)
export(writeland.tps)
import(ape)
import(calibrate)
import(jpeg)
import(phytools)
import(rgl)
import(vegan)
useDynLib(geomorph)
