export(arrayspecs)
export(bilat.symmetry)
export(buildtemplate)
export(compare.evol.rates)
export(compare.modular.partitions)
export(curves2d)
export(define.sliders.2d)
export(define.sliders.3d)
export(digit.curves)
export(digit.fixed)
export(digitize2d)
export(digitsurface)
export(editTemplate)
export(estimate.missing)
export(fixed.angle)
export(gpagen)
export(morphol.integr)
export(mshape)
export(pairwiseD.test)
export(physignal)
export(plotAllSpecimens)
export(plotAllometry)
export(plotGMPhyloMorphoSpace)
export(plotRefToTarget)
export(plotTangentSpace)
export(plotspec)
export(procD.lm)
export(read.morphologika)
export(read.ply)
export(read.vrml)
export(readland.nts)
export(readland.tps)
export(readmulti.nts)
export(trajectory.analysis)
export(two.d.array)
export(writeland.tps)
import(rgl)
importFrom(ape,Ntip)
importFrom(ape,ace)
importFrom(ape,compute.brlen)
importFrom(ape,is.binary.tree)
importFrom(ape,summary.phylo)
importFrom(ape,vcv.phylo)
importFrom(calibrate,textxy)
importFrom(geiger,sim.char)
importFrom(jpeg,readJPEG)
importFrom(vegan,adonis)
useDynLib(geomorph)
